:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --active-element-color: #2196f3;
  --additional-color: #ffffff;
  --footer-color: #2f303a;
}
body {
  color: var(--main-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;

  letter-spacing: 0.03em;
  margin:0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container{
  width:1200px;
  margin:0 auto;
  padding:0 15px;
 
}
/*-----------------header-----------*/

.logo {
  display:block;
  margin-right:93px;
  color: var(--active-element-color);
  text-decoration: none;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo > span {
  color: var(--title-color);
}
.menu-bar{
  display:flex;
  padding-left:0;
  margin-top:0;
  margin-bottom: 0;
  

}

.menu-bar-item {
  margin-right:50px;
}

.logo > .footer-span {
  color: var(--additional-color);
}


.contacts {
  display:flex;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  
  padding-left: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.contacts-list{
  justify-content: center;
}
.contacts-list:not(:last-child){
  margin-right: 50px;
}

.contact{
  display: inline-block;
  fill:var(--main-text-color);
   
}

.contacts-icon{
  margin-right: 10px;
  
}

.nav:hover,
.nav:focus,
.contact:hover,
.contact:focus{
  color: var(--active-element-color);
  fill: var(--active-element-color);
}


nav {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


.container-header{
  display:flex;
  align-items: center;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
  
}

/*---------------hero------------*/

.hello {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url('../images/hero.jpg');
  background-color: #2F303A66;
  margin:0 auto;
  max-width:1600px;
  height:600px;
  background-position: center;
  padding-top:200px;
  padding-bottom: 200px;
}


.hello-title {
  width:696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  
  color: var(--additional-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.active {
  color: var(--active-element-color);
}

h2,
h3 {
  color: var(--title-color);
}



footer {
  background-color: var(--footer-color);
}
.btn-main {
  display:block;
  min-width:216px;
  height:50px;
  margin:0 auto;
  border: 1px transparent;
   
 
  color: var(--additional-color);
  background-color: var(--active-element-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
}



/*---------------advantages------------*/

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
  
}

.image{
  width:270px;
  height:120px;
  background-color: #F5F4FA;
  padding-top: 25px;
}
 .icon{
  display:block;
  width:70px;
  height:70px;
  margin: 0 auto;
  
 }
.services-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  margin:0;
  margin-top: 30px;
  

}

.services{
  display:flex;
  margin:0;
  padding:0;
}

.services-item:not(:last-of-type){
  margin-right:30px;
}

.advantages-title{
  margin:-1;
  position:absolute;
  width:1px;
  height:1px;
  border:0;
  padding:0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
}

.services-text{
  margin:0;
  padding-top: 10px;
  line-height: calc(24/14);
}



/*---------------about------------*/

.about {
  padding-top: 0;
  padding-bottom:94px

}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin:0;
  
}

.pictures{
  margin:0;
  padding:0;
  display:flex;
  margin-top: 50px;
 
}

.pic:not(:last-child){
  margin-right:30px;
}

.pic{
  
  display:block;
}


/*---------------our team------------*/

.our-team{
  padding-top: 94px;
  padding-bottom:94px;
  background-color:#F5F4FA;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  
}


.name {
  margin:0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
}

.position {
  margin-top:10px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.description{
  padding-top: 30px;
  padding-bottom: 30px;
}

.persons{
  display:flex;
  padding:0;
  margin:0;
  
}

.person{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--additional-color);
}

.person:hover,
.person:focus{

}

.person:not(:last-of-type){
  margin-right:30px;
}

.icon-list{
  list-style: none;
  display:flex;
  margin-top:16px;
  margin-left:32px;
  padding:0;
  
}


 
.icon-item:not(:last-of-type){
  margin-right: 10px;
}

.soc-net{
  display:block;
  margin:12px auto;
 
}

.icon-item-link{
  display:inline-block;
  width: 44px;
  height: 44px;
  color:var(--main-text-color);
  fill: #AFB1B8;
}

.icon-item-link:hover,
.icon-item-link:focus{
  
 fill: var(--additional-color);
 border-radius: 50%;
  border-color: black 1px solid;
  background-color: rgba(33, 150, 243, 1);

}


/*---------------clients------------*/

.clients{
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title{
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
}

.clients-icons{
  display:flex;
  justify-content: center;
  margin:0;
  margin-top: 50px;
  padding:0;
}

.client-icon:not(:last-of-type){
  margin-right: 30px;
}

.client-icon{
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}


.client-icon:hover,
.client-icon:focus{
  border: 1px solid rgba(33, 150, 243, 1);
}

.icon-logo{
  fill:var(--main-text-color);
}

.icon-logo:hover,
.icon-logo:focus{
  fill:rgba(33, 150, 243, 1);
}

.client-icon-logo{
  display:block;
  margin:0;
  padding:0;
}


/*---------------footer------------*/

.container-address{
  display:flex;
  

}

footer {
  padding-top: 60px;
  padding-bottom: 60px;

}


address {
  display: inline-block;
  color: var(--additional-color);
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.contacts-footer {

  display: inline-block;
  margin: 0;
  margin-top:10px;
  padding: 0;
}

.contact-footer {

  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;

}


.footer-logo {
  margin:0;

}

.footer-icon {
  
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: black 1px solid;
  background-color:rgba(255, 255, 255, 0.1);
}

.footer-link{
  fill: var(--additional-color);
}

.footer-icon:hover,
.footer-icon:focus{
  background-color:rgba(33, 150, 243, 1);
  border-radius: rgba(33, 150, 243, 1) 1px solid;
  
}

.footer-icons{
  margin:0;
  padding:0;
  list-style: none;
}

.join-title{
  
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #FFFFFF;
    margin:0;
    margin-bottom: 20px;
}

.join{
  margin-left: 70px;
  margin-top: 12px;
}



/*---------------examples------------*/

.examples-title{
    margin: -1;
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

 
}
.examples{
  padding-top: 94px;
  padding-bottom: 94px;
 
}

.work-list{
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  
}
.work-list-item:not(:last-child){
  margin-right: 8px;
  
}


.btn-secondary {
  display:block;
 
  padding:6px 22px;

  color: var(--title-color);
  background-color: #ffffff;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: inherit;
  
  border-radius: 4px;
  background: #F5F4FA;
  border-style: none;

  cursor: pointer;
}



.btn-secondary:hover {
  color: var(--additional-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--active-element-color);
}

.work-title,
.work-text{
  margin:0;
}

.work-description{
  padding:20px 24px;
  border:1px solid #EEEEEE ;

}

/*---------------works------------*/
.work-title {
  padding: 0;
  margin: 0;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.work-text {
  padding: 0;
    margin: 0;
 
  font-size: 16px;
  line-height: 1.9;
  padding: 0;
    margin: 0;
}

.work-pic{
padding: 0;
  margin: 0;
  display:inline-block;
}

.work-link{
  width:370px;
  padding:0;
  margin:0;
  display:block; 
  
  
  
}

.works{
 margin-top:50px;
 margin-bottom:0px;
 margin-left: 0;
 margin-right: 0;
 padding:0;
 

 display:flex;
 flex-wrap: wrap; 
 gap:30px;
 
}
.work{
 
  border-bottom:1px solid #EEEEEE;
  padding:0;
  margin:0;
  flex-basis: calc((100% - 60px)/3);
  
}

.work:hover{
  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


